body {
  display: flex;
  background-color: rgba(228, 179, 119, 0.642);
  justify-content: center;
  align-items: center;
}

#map {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.57);
  border-radius: 300px;
}